@import "tailwindcss";

@theme {
  --color-primary: #3B82F6;
  --color-background: #0F172A;
  --color-secondary: #10B981;
  --color-card: #1E293B;
  --color-surface: #334155;
  --color-emerald: #10b981;
  --color-muted: #94A3B8;
  --color-text-primary: #F8FAFC;

  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}


html,
body,
#root {
  margin: 0;
  padding: 0;
  background-color: #0F172A;
  min-height: 100%;
}

/* Hide number input arrows for a cleaner UI */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

/* Hide scrollbar but keeps scroll functionality */
.no-srollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}